fitz==0.0.1.dev2
Flask==3.1.1
Flask_Bcrypt==1.0.1
Flask_Cors==5.0.0
langchain==0.3.25
langchain_community==0.3.24
langchain_google_genai==2.1.4
protobuf==6.31.0
pymongo==4.13.0
python-dotenv==1.1.0
gunicorn
