en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
faiss-cpu
flash-attention
Flask
Flask-Bcrypt
Flask-Caching
Flask-Cors
Flask-Session
Flask-SocketIO
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
google-pasta
googleapis-common-protos
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langcodes
langsmith
language_data
Markdown
markdown-it-py
PyMuPDF
PyMuPDFb
pyOpenSSL
pyparsing
pypdf
PyPDF2
PyPika
python-dotenv
pyttsx3
pytz
PyYAML
pyzmq
response
