absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altair
annotated-types
anvil
anvil-uplink
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
arxiv
asgiref
asttokens
astunparse
async-lru
async-timeout
asyncer
attrs
auth0-python
autopep8
Babel
backoff
bcrypt
beautifulsoup4
bidict
bitsandbytes
bleach
blinker
blis
build
cachelib
cachetools
catalogue
certifi
cffi
chainlit
charset-normalizer
chex
chroma-hnswlib
chromadb
click
cloudpathlib
colorama
coloredlogs
comm
comtypes
confection
contourpy
cryptography
ctransformers
customtkinter
cycler
cymem
darkdetect
dataclasses-json
datasets
debugpy
decorator
defusedxml
Deprecated
dill
dirtyjson
distlib
distro
dnspython
docker-pycreds
docopt
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile
etils
exceptiongroup
executing
faiss-cpu
fastapi
fastapi-socketio
fastjsonschema
feedparser
filelock
filetype
flash-attention
Flask
Flask-Bcrypt
Flask-Caching
Flask-Cors
Flask-Session
Flask-SocketIO
flatbuffers
flax
fonttools
fqdn
frontend
frozenlist
fsspec
future
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h5py
httpcore
httplib2
httptools
httpx
huggingface
huggingface-hub
humanfriendly
idna
imageio
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jax
jaxlib
jedi
Jinja2
joblib
Js2Py
json5
jsonify
jsonpatch
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-openai
langchain-pinecone
langchain-text-splitters
langchainplus-sdk
langcodes
langsmith
language_data
Lazify
lazy_loader
libclang
literalai
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
lml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mmh3
monotonic
mpmath
msgpack
msgspec
multidict
multiprocess
murmurhash
mypy-extensions
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nodeenv
notebook
notebook_shim
numexpr
numpy
oauthlib
onnxruntime
openai
openapi-schema-pydantic
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optax
orbax-checkpoint
orjson
outcome
overrides
packaging
paho-mqtt
pandas
pandocfilters
parso
peft @ git+https://github.com/huggingface/peft.git@78daa4cf7624ec9c2c38fe73b0317b61428ca26b
pillow
pinecone-client
pipeline
pipenv
pipwin
platformdirs
posthog
preshed
prisma
prometheus_client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
pulsar-client
pure-eval
py-cpuinfo
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
PyAudio
pycodestyle
pycparser
pydantic
pydantic_core
pydeck
pyexcel
pyexcel-io
pyexcel-xls
pygame
Pygments
pyjsparser
PyJWT
pymongo
PyMuPDF
PyMuPDFb
pyOpenSSL
pyparsing
pypdf
PyPDF2
PyPika
PyPrind
pyproject_hooks
pyreadline3
pySmartDL
PySocks
python-dateutil
python-dotenv
python-engineio
python-graphql-client
python-json-logger
python-multipart
python-socketio
python-utils
pyttsx3
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
requests-oauthlib
requests-toolbelt
response
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
selenium
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
sgmllib3k
simple-websocket
six
sklearn
smart-open
smmap
sniffio
sortedcontainers
soundfile
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
srsly
stack-data
starlette
streamlit
striprtf
sympy
syncer
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorstore
termcolor
terminado
texttable
thinc
threadpoolctl
tifffile
tiktoken
tinycss2
tokenizers
toml
tomli
tomlkit
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
tzlocal
uptrace
uri-template
uritemplate
urllib3
uvicorn
validators
virtualenv
wandb
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webdriver-manager
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
ws4py
wsproto
xlrd
xlwt
xxhash
yarl
youtube-search
zipp
gunicorn